    body {
        font-size: 18px;
        color: #4A4A4A;
        background-color: #FEFEFE;
        font-family: "Cormorant Garamond", serif; 
        line-height: 1.1;
}

    h1 {
        font-size: 2em;
        margin-bottom: 0;
}

    h2 {
        font-size: 1.6em;
}

    h3 {
        font-size: 1.3em;

}

    h4 {
        font-size: 1.25em; 
}

    h5 {
        font-family: "Helvetica";
        font-size: .75em;
        color: #D6D6D6;
}

    h6 {  
        font-size: .7em;
}

    a {
        display:inline-grid;
        color:#4A4A4A;
        text-decoration:none;
}

    a:hover {
        color:#FF596E;
        text-decoration: none;
        cursor: pointer;
}

    a:active {
        color:#FF596E;
        text-decoration: none;
}

    hr {
        display: block;
        color: #9B9B9B;
        height: 1px;
        width: 80%;
        border-top: 3px double #9B9B9B;
        margin: 0 auto;
        padding: 1%;
}

    mark {
        background-color: #FFED0B;
        transform: skewY(-5deg) rotate(4deg);
}

    nav {
        display: inline;
        color: #4A4A4A;
}

    p {
        margin-bottom: 0;
}

    .btn {
        font-family: "Cormorant Garamond";
        color: #9B9B9B;
        background: none;
        text-decoration: none;
        padding: 1%;
}

    .btn:hover {
        text-decoration: none;
        cursor: pointer;
}
    #charity-header { 
        text-align: left;
        padding: 3% 0 0 0;
}
    #charity-name {
        font-family: "Helvetica";
        font-size: 1.1vw; 
        line-height: 1.1em;
        word-spacing: .5px;
        margin: 20px 0 0 0;
        text-transform: uppercase;
}
    #charity-info {
        font-family: "Courier New";
        font-size: 1.1vw; 
        line-height: 1.1em;
        word-spacing: .5px;
        margin: 0 0 20px 0;
}
    .card {
        content: "";
        max-height: 18em;
        max-width: 40em;
        position: relative;
        border-radius: 2px;
        background: #FFFEFB;
        float: none; 
        box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.35);
        margin: 2em 0 2em 0;
        z-index: 1;
}

    .date {
        font-family: 'Cormorant Garamond', serif;
        font-size: .85em; 
        font-weight: 400;
        color: #9B9B9B;
        text-transform: uppercase;
        margin: 0 auto;
        padding: .5em;
}

    .multiline-ellipsis {
      display: block;
      display: -webkit-box;
      max-width: 90%;
      max-height: 300px;
      -webkit-line-clamp: 8;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 auto;
}

    #nav-badge{
        height: 60px;
        width: 60px;
        object-fit: contain;
        margin: 0 auto 1.5em auto;
}
    /* Below changes the left padding of "A Record..." header */
    .padded-multiline h2 {
        font-weight: 700;
        line-height: 1.1em;
        font-family: "Helvetica";
        color: #4A4A4A;
        margin: -2em 0 0 0;
        position: relative;
        z-index: 3;
        transform: skewY(-4deg) skewX(4deg) rotate(2deg);

}
    .padded-multiline h2 span { 
        font-weight: 800;
        background-color: #fff;
        padding: 0em .25em .2em .5em;
        -webkit-box-decoration-break: clone;

}
    #quote-box {
        max-width: 67%;
        min-height: 150px;
        text-align: center;
        margin: 0 auto; 
        padding: 3em 0 1em 0;
}
    #quote{
        vertical-align: middle;
        font-size: 1.1em;
        font-family: "Georgia"; 
        font-weight: 300;
        font-style: italic;
}

    .sections {
        font-size: .7em; 
        font-family: "Helvetica";
        font-weight: 400;
        color: #9B9B9B;
        text-transform: uppercase;
        width: 100%;
        margin: 2em 0 2em 4em;
        opacity: .5;
}

    #source {
        font-size: 12px;
        font-family: "Helvetica"; 
        font-weight: 400;
        margin: 0 auto;
}
}
    .stats-header{
        font-family: "Helvetica";
        font-size: 12px; 
        display: inline-block;
        width: 100%; 
        padding: 10%;
}
    .stats{
        font-family: "Helvetica";
        font-size: 14px;
        font-weight: medium;
        display: inline-block;
        width: 100%; 
        padding: 10%;
}

    #strikeout {
        position: relative;
}

    #strikeout::after {
        border-bottom: 0.44em solid black;
        content: "";
        left: 0;
        position: absolute;
        top: 33%;
        width: 100%;t
        transform: skewY(-3deg) rotate(4deg);
}

    .transcript-header {
        font-family: "Cormorant";
        font-size: .8em;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 auto;
        padding: 1.5em 0 0 0;
}

    .transcript {
        font-family: "Baskerville";
        width: 90%;
        letter-spacing: .1px;
        line-height: 1.1;
        margin: 0 auto;
        padding: 1em;
}

    .tooltips {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; 
        z-index: 1;
        font-family: "Helvetica"; 
        font-weight: 800;
        letter-spacing: .5px;
}

    .tooltips .tooltip-text {
        visibility: hidden;
        font-family: "Helvetica";
        font-weight: 200;
        width: 180px;
        background-color: #4A4A4A;
        color: #fff;
        text-align: center;
        padding: 5px;
        line-height: 14px;
        border-radius: 2px;
        font-size: 11px;
        /* Position for tooltip text*/
        position: absolute;
        z-index: 1;
        bottom: 100%;
}

    .tooltips:hover .tooltip-text {
        visibility: visible;
        margin-bottom: 5px;
}

    .tooltip .tooltip-text::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #4A4A4A transparent transparent transparent;
}



